<!DOCTYPE html>
<html>
    <head>
        <title>SocketIO Chat</title> 
    <style>


    </style>
    <script src="/socket.io/socket.io.js" defer></script>
    <script type="module" defer>
        </script>
        </head> 
        <body></body>
            <h2> hallo </h2>

        

</html>
